.page-header{
	border-bottom: none;
	padding: 0;
	margin: 0;
}
.tab-job thead th,
.tab-job th[scope="row"]{
    text-align: center;
}

.xd-alert{
	position:absolute;
	width: 300px;
	left: 0; 
	right: 0;
	margin-left: auto; 
	margin-right: auto; 
	z-index: 500;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
}
.xd-container{
	margin-top: -45vh;
	margin-bottom: 10vh;
	position: relative;
}
.xd-container .row{
	margin-left: 0;
	margin-right: 0;
}
.xd-content{
	background-color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #ddd;
}
.xd-ribbon{
	width: 100%;
	height: 50vh;
	background-color: #282e6c;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.xd-heading{
	margin: 20px 0;
}
.xd-heading h1{
	color: #fff;
	text-shadow: #444 1px 1px;
	margin-top: 0;
	margin-bottom: 0;
}

.xd-thumbnail{
   outline: 1px solid #ccc;
   padding: 1px;
}
#joborders.table{
	font-size: 13px;
}
.xd-product-thumbnail img{
  height: 250px;
  width: 250px;
}

.xd-po-status{
	width: 50% !important;
}
.xd-settings-content,
.xd-pane-content table,
.xd-settings-content tr{
	background-color: #fff !important;
}
.xd-joitem-details-btngroup{
	margin-top: 20px;
}

.xd-snip .breadcrumb{
	background-color: transparent !important; 
	margin: 0;
}
.xd-snip .breadcrumb a,
.xd-snip .breadcrumb li{
	color: #ccc !important;
}

.xd-page-item-messages{
	margin-top:30px;
}

.xd-message{
	border: 1px solid #eee;
	padding: 0;
	padding: 10px 0;
}
.xd-message .media-left{
	padding-left: 10px;
}
.xd-circle{
	height: 40px;
	width: 40px;
	display: block;
	text-align: center;
	padding-top: 7px;
	text-transform: uppercase;
	border-radius: 50%;
	background: #006064;
	color: #fff;
	font-size: 18px;
}

#xd-jo-search{
	padding: 5px 15px 5px 0 !important;
}

#colors,
#colors option{
	text-transform: capitalize;
}

tr.new{
	/*font-weight:bold;*/
}


#joborders th:first-child + th,
#joborders td:first-child + td {
  display:none;
} 

#joborders tr.group{
	background-color: #efe;
}

/*#joborders tr[role="row"] td:last-child{
	padding-left: 5px;
}*/
#joborders td.datetime{
	text-align: center;
}
.affix {
	width:inherit;

	top:0;
right:0;
}
.infobar{
	min-height: 10px !important;
	background-color: #252736 !important;
	color: #aaa !important;
	font-size: 12px !important;
	padding: 5px !important;
	border-radius: 0px !important;
}
/*
*   MATERIALIZING
*/

body{
	background-color: rgb(245, 245, 245);
}

.navbar{
	background-color: #24292E;
	background-color: #282e6c;
	margin-bottom: 0;
}


.navbar a{
	color: #ccc !important;
}
.navbar-nav a{
	border-top: transparent 2px solid !important;
	transition: all .1s ease-in-out;
}
.navbar .container{
	width: 90%;
}
.navbar li.active a,
.navbar li.open .dropdown-toggle{
	background-color: rgba(245, 245, 245, .05) !important;
	border-top: 2px solid #18FFFF !important;
	color: #fff !important;
}
.navbar-nav a:hover{
	border-top: 2px solid #18FFFF !important;
	color: #fff !important;
}
.navbar .dropdown-menu a{
	color: #000 !important;
	border-bottom: 2px solid transparent !important;
}

.navbar-default{	border: none;
}

.navbar-nav .dropdown-menu a,
.navbar-nav .dropdown-menu a:hover{
	border: none !important;
}

#joborders_wrapper div.row:first-child{
	display: none
}

#joborders tr.enable{
	cursor: pointer;
}
.table > tbody > tr.active > td{
	background-color: transparent !important;
}

.enable.active {
    background-color: #FFF9C4 !important; 
}
.hide{
	display:none;
}

/*start of */
.margin-bottom-1em{ margin-bottom:1em; }
.width-30-percent{ width:30%; }
.margin-1em-zero{ margin:1em 0; }
.width-30-percent{ width:30%; }
.width-70-percent{ width:70%; }
.margin-top-40{ margin-top:40px; }
.text-align-center{ text-align:center; }
 
div#blueimp-gallery div.modal{ overflow: visible; }
 
.photo-thumb{
    width:214px;
    height:214px;
    float:left;
    border: thin solid #d1d1d1;
    margin:0 1em 1em 0;
}
 
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
 
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
.form-signin .form-control:focus{ z-index: 2; }
 
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
 
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
 
.account-wall{
    margin-top: 40px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
}
 
.login-title{
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
 
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
 
.select-img{
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
 
.select-name{
    display: block;
    margin: 30px 10px 10px;
}
 
.logo-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*end of login css*/



html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}

.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
    background-color:#FFFFFF;
    margin-top: 50px;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
/*
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}*/
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
/*.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}*/
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:14px;
	font-weight:600;
	width: 100px;
	margin: 10px auto;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}

.home-approval .row{
	margin: 0;
	padding: 10px 0 10px 0;
	border:1px solid #eee;
}

.home-approval div[class*="col-sm"]{
	padding: 0;
}

.home-approval .info *{
	font-size: 12px;
}
.home-approval .info{
	margin-top:3px;
}
.home-approval .title a,
.home-approval .title .note{
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.home-approval .col-md-9 .row{
	border-left:3px solid transparent;
}

.home-approval .col-md-9 .row:hover{
	border-left:3px solid #18FFFF;
}

.modal-body img{
	width: 100%;
}

#progressBar {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 0%;
	height: 2px;
	background: #b91f1f;
	border-radius: 10%;
	-moz-transition: width 500ms ease-out,opacity 400ms linear;
	-ms-transition: width 500ms ease-out,opacity 400ms linear;
	-o-transition: width 500ms ease-out,opacity 400ms linear;
	-webkit-transition: width 500ms ease-out,opacity 400ms linear;
	transition: width 500ms ease-out,opacity 400ms linear;
}
#progressBar:before {
	position: absolute;
	content: 	'';
	top: 0;
	opacity: 1;
	width: 10%;
	right: 0px;
	height: 2px;
	box-shadow: #b91f1f 1px 0 6px 2px;
	border-radius: 50%;
}

#item_dialog .form-group .radio{
	margin: 0;
}


table.fixedHeader-floating{position:fixed !important;background-color:white}table.fixedHeader-floating.no-footer{border-bottom-width:0}table.fixedHeader-locked{position:absolute !important;background-color:white}@media print{table.fixedHeader-floating{display:none}}

table.dataTable{
	margin: 0 !important;
}


/* select with CSS avatar icons */
option.avatar {
	background-repeat: no-repeat !important;
	padding-left: 20px;
}
.avatar .ui-icon {
background-position: left top;
}